<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout :: layout(~{::content})}">

<body>
    <div th:fragment="content">
        <h2>Nouvel Élève</h2>
        <form th:action="@{/eleves/enregistrer}" th:object="${eleve}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control" th:field="*{nom}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Prénom</label>
                <input type="text" class="form-control" th:field="*{prenom}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Filière</label>
                <select class="form-select" name="filiereId" required>
                    <option value="">Choisir une filière...</option>
                    <option th:each="f : ${filieres}" th:value="${f.id}" th:text="${f.nom} + ' (' + ${f.code} + ')'">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="/eleves" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</body>

</html>